<header class="header_area">
	<div class="main_menu">
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container box_1620">
				<!-- Brand and toggle get grouped for better mobile display -->
				<h1 class="navbar-brand logo_h">Mireya Vargas</h1>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- Collect the nav links, forms, and other content for toggling -->
				{% include navigation.html %}
			</div>
		</nav>
	</div>
	<div class="logo_part">
		<div class="container">
			<a href="/" style="color: black;">
				<h1 class="logo">Mireya Vargas</h1>
			</a>
		</div>
	</div>
</header>