<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/assets/img/favicon.png" type="image/png">
    <title>{{ page.title }}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/vendors/linericon/style.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/vendors/owl-carousel/owl.carousel.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/vendors/lightbox/simpleLightbox.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/vendors/nice-select/css/nice-select.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/vendors/animate-css/animate.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/vendors/jquery-ui/jquery-ui.css" | prepend: site.baseurl }}">
    <!-- main css -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/responsive.css" | prepend: site.baseurl }}">
  </head>
  <body>
    {% include header.html %}
    
    {% include banner.html %}
    
    <section class="blog_area p_120">
      <div class="container">
        <div class="row">
          
          {{ content }}
      
          {% include sidebar.html %}
          
        </div>
      </div>
    </section>
    
    {% include footer.html %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ "/assets/js/jquery-3.2.1.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/popper.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/stellar.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/vendors/lightbox/simpleLightbox.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/vendors/nice-select/js/jquery.nice-select.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/vendors/isotope/imagesloaded.pkgd.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/vendors/isotope/isotope-min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/vendors/owl-carousel/owl.carousel.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/vendors/jquery-ui/jquery-ui.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/jquery.ajaxchimp.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/mail-script.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/theme.js" | prepend: site.baseurl }}"></script>
  </body>
</html>